.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* width: 100vw; */
  height: 100vh;
  flex-direction: column;
  gap: 30px;
}

.child-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 350px;
  position: relative;
}

.child-container::before {
  content: " ";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #e0e0e0;
  z-index: -1;
}

.circle.active {
  border-color: #3498db;
}

.progress{
  position: absolute;
  height: 3px;
  /* width: 100%; */
  background-color: #3498db;
  z-index: -1;
}

.circle {
  border: 3px solid #e0e0e0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  background: white;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
}

.prev, .next {
  padding: 10px 30px;
  border: none;
  background: #3498db;
  color: white;
  border-radius: 5px;
  /* font-weight: 600; */
  font-size: 0.8rem;
  letter-spacing: 1px;
  cursor: pointer;
}
